In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#Pre Process the Data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
#Encode the categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [7]:
#One Hot Encode the Geography column
onehot_encoder_geo = OneHotEncoder()
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
#Combine the encoded Geography columns with the original data
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [11]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [12]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [13]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem Statement

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\annclassification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\annclassification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [17]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\annclassification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\annclassification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 5ms/step - loss: 100371.3438 - mae: 100371.3438 - val_loss: 98497.6875 - val_mae: 98497.6875
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 99580.6797 - mae: 99580.6797 - val_loss: 96915.0938 - val_mae: 96915.0938
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 96855.7344 - mae: 96855.7344 - val_loss: 92936.0156 - val_mae: 92936.0156
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 91546.7812 - mae: 91546.7812 - val_loss: 86328.6797 - val_mae: 86328.6797
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 83815.2344 - mae: 83815.2344 - val_loss: 77831.4531 - val_mae: 77831.4531
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 74760.9141 - mae: 74760.9141 - val_loss: 68992.8906 - val_mae: 68992.8906
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 65930.9844 - mae: 65930.9844 - val_loss: 61241.5039 - val_mae: 61241.5039
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 58843.2148 - mae: 58843.2148 - val_loss: 55741.0898 - val_mae: 55741.0898
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 54266.9609 - mae: 54266.9609 - val_loss: 52628.3828 - val_mae: 52628.3828
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 51785.6602 - mae: 51785.6602 - val_loss: 51246.5625 - val_mae: 51246.5625
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 50719.5508 - mae: 50719.5508 - val_loss: 50830.7109 - val_mae: 50830.7109
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 50332.4805 - mae: 50332.4805 - val_loss: 50705.4336 - val_mae: 50705.4336
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50179.2109 - mae: 50179.2109 - val_loss: 50655.0547 - val_mae: 50655.0547
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 50095.9453 - mae: 50095.9453 - val_loss: 50617.0977 - val_mae: 50617.0977
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 50031.7930 - mae: 50031.7930 - val_loss: 50586.3164 - val_mae: 50586.3164
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 49982.5117 - mae: 49982.5117 - val_loss: 50560.1758 - val_mae: 50560.1758
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 49944.2930 - mae: 49944.2930 - val_loss: 50534.4062 - val_mae: 50534.4062
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 49908.5898 - mae: 49908.5898 - val_loss: 50509.7305 - val_mae: 50509.7305
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 49877.1406 - mae: 49877.1406 - val_loss: 50489.2969 - val_mae: 50489.2969
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 49847.2227 - mae: 49847.2227 - val_loss: 50470.4648 - val_mae: 50470.4648
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 49821.8164 - mae: 49821.8164 - val_loss: 50463.3164 - val_mae: 50463.3164
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 49796.3867 - mae: 49796.3867 - val_loss: 50437.4023 - val_mae: 50437.4023
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 49773.3750 - mae: 49773.3750 - val_loss: 50420.5508 - val_mae: 50420.5508
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49751.5117 - mae: 49751.5117 - val_loss: 50409.6367 - val_mae: 50409.6367
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49728.8711 - mae: 49728.8711 - val_loss: 50396.7148 - val_mae: 50396.7148
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 49707.7188 - mae: 49707.7188 - val_loss: 50389.8242 - val_mae: 50389.8242
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 49692.3086 - mae: 49692.3086 - val_loss: 50383.3906 - val_mae: 50383.3906
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49673.3711 - mae: 49673.3711 - val_loss: 50370.4961 - val_mae: 50370.4961
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 49655.6094 - mae: 49655.6094 - val_loss: 50363.1133 - val_mae: 50363.1133
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49642.1094 - mae: 49642.1094 - val_loss: 50356.5469 - val_mae: 50356.5469
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49624.9805 - mae: 49624.9805 - val_loss: 50349.7695 - val_mae: 50349.7695
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 49611.1719 - mae: 49611.1719 - val_loss: 50338.5391 - val_mae: 50338.5391
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49598.4883 - mae: 49598.4883 - val_loss: 50344.9336 - val_mae: 50344.9336
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 49589.2344 - mae: 49589.2344 - val_loss: 50336.4141 - val_mae: 50336.4141
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49572.4375 - mae: 49572.4375 - val_loss: 50324.5586 - val_mae: 50324.5586
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 49562.2539 - mae: 49562.2539 - val_loss: 50328.8008 - val_mae: 50328.8008
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 49549.4688 - mae: 49549.4688 - val_loss: 50323.2148 - val_mae: 50323.2148
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 49537.2969 - mae: 49537.2969 - val_loss: 50323.3984 - val_mae: 50323.3984
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49528.6211 - mae: 49528.6211 - val_loss: 50307.6367 - val_mae: 50307.6367
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49518.8281 - mae: 49518.8281 - val_loss: 50315.5703 - val_mae: 50315.5703
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49509.3672 - mae: 49509.3672 - val_loss: 50318.3828 - val_mae: 50318.3828
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49498.4219 - mae: 49498.4219 - val_loss: 50315.6562 - val_mae: 50315.6562
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49488.9531 - mae: 49488.9531 - val_loss: 50314.0117 - val_mae: 50314.0117
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49481.7422 - mae: 49481.7422 - val_loss: 50311.4375 - val_mae: 50311.4375
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49475.1094 - mae: 49475.1094 - val_loss: 50315.6602 - val_mae: 50315.6602
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49467.7930 - mae: 49467.7930 - val_loss: 50317.4102 - val_mae: 50317.4102
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49457.4570 - mae: 49457.4570 - val_loss: 50308.1406 - val_mae: 50308.1406
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49449.8008 - mae: 49449.8008 - val_loss: 50307.8281 - val_mae: 50307.8281
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49446.7969 - mae: 49446.7969 - val_loss: 50294.1172 - val_mae: 50294.1172
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49435.9453 - mae: 49435.9453 - val_loss: 50312.2734 - val_mae: 50312.2734
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49428.1641 - mae: 49428.1641 - val_loss: 50304.2266 - val_mae: 50304.2266
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 49420.8828 - mae: 49420.8828 - val_loss: 50310.0391 - val_mae: 50310.0391
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49416.4688 - mae: 49416.4688 - val_loss: 50310.6562 - val_mae: 50310.6562
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49409.6367 - mae: 49409.6367 - val_loss: 50293.9492 - val_mae: 50293.9492
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49402.4453 - mae: 49402.4453 - val_loss: 50308.0586 - val_mae: 50308.0586
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49398.5664 - mae: 49398.5664 - val_loss: 50292.0312 - val_mae: 50292.0312
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 49390.6016 - mae: 49390.6016 - val_loss: 50305.3398 - val_mae: 50305.3398
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49388.2031 - mae: 49388.2031 - val_loss: 50294.8711 - val_mae: 50294.8711
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 49381.3359 - mae: 49381.3359 - val_loss: 50300.7695 - val_mae: 50300.7695
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 49378.5547 - mae: 49378.5547 - val_loss: 50299.3125 - val_mae: 50299.3125
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49371.6055 - mae: 49371.6055 - val_loss: 50299.6172 - val_mae: 50299.6172
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 49367.4922 - mae: 49367.4922 - val_loss: 50301.1641 - val_mae: 50301.1641
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49360.0508 - mae: 49360.0508 - val_loss: 50305.3438 - val_mae: 50305.3438
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 49355.1758 - mae: 49355.1758 - val_loss: 50308.5547 - val_mae: 50308.5547
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49353.4102 - mae: 49353.4102 - val_loss: 50305.2188 - val_mae: 50305.2188
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 49350.0859 - mae: 49350.0859 - val_loss: 50306.4805 - val_mae: 50306.4805

In [19]:
%load_ext tensorboard

In [ ]:
%tensorboard --logdir regressionlogs/fit/20250527-031456

In [20]:
#Evaluate the model
loss, mae = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss}, Test MAE: {mae}")

63/63 [==============================] - 0s 1ms/step - loss: 50292.0312 - mae: 50292.0312
Test Loss: 50292.03125, Test MAE: 50292.03125

In [21]:
#Save the model
model.save('regression_model.h5')

d:\annclassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(